lxc.include = /etc/lxc/default.conf
# Subuids and subgids mapping
lxc.id_map = u 0 {{ user_suid_start }} {{ user_suid_range }}
lxc.id_map = g 0 {{ user_sgid_start }} {{ user_sgid_range }}
# "Secure" mounting
lxc.mount.auto = proc:mixed sys:ro cgroup:mixed

# Network configuration
lxc.network.type = veth
lxc.network.link = lxcbr-{{ lxc_user_name }}
lxc.network.flags = up
lxc.network.hwaddr = 00:FF:xx:xx:xx:xx