<network>
  <name>lxcbr-{{ lxc_user_name }}</name>
  <uuid>{{ lxc_network_uuid }}</uuid>
  <forward mode='nat'/>
  <bridge name='lxcbr-{{ lxc_user_name }}' stp='on' delay='0' />
  <ip address='{{ lxc_network_ip_address }}' netmask='{{ lxc_network_netmask }}'>
    <dhcp>
      <range start='{{ lxc_network_ip_range_start }}' end='{{ lxc_network_ip_range_end }}' />
    </dhcp>
  </ip>
</network>