# change path
export PATH=$PATH:/usr/sbin:/sbin

# create user
useradd -m -s /bin/bash {{ lxc_container_admin_user_name }}
echo "{{ lxc_container_admin_user_name }}:{{ lxc_container_admin_password }}" | chpasswd

# install sudo, openssh
apt-get update
apt-get install -y sudo openssh-server

# create sudoers.d file
echo "{{ lxc_container_admin_user_name }} ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/{{ lxc_container_admin_user_name }}
